@using Microsoft.AspNetCore.Mvc.Localization
@using CarparkAvailability.Localization
@inject IHtmlLocalizer<CarparkAvailabilityResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
